
.body {
    margin : 20px ;
}

.ProfilePic {
    width: 150px;
    border: 2px solid black;
    border-radius: 10%;
}

.BusinessCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: 5px 10px 18px #a726a1;
    padding: 20px;
    border-radius: 10px;
    border-bottom: 5px solid #b14da0;
    width: 400px;
    margin: 200px auto 200px auto;
    font-family: Arial, sans-serif;
    background-color: #d7b5e0;
}

.Info {
    text-align: center;
}

.Info h3 {
    margin: 5px 0;
    color: #4a004a;
}
